.App {
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.Board {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Black-Cell {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
}

.White-Cell {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
}

.Highlighted-Cell {
  background-color: bisque;
}

.Divider {
  border-width: 10px;
  border-color: red;
  border-style: solid;
}

.Piece {
  max-height: 33px;
  max-width: 33px;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  color: white;
}
