.App {
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  height: 100vh;
}

.Board {
  /* border-width: 2px;
  border-color: black;
  border-style: solid; */
  background-image: url("mars-background.jpg");
  background-size: cover;
  background-position-x: 50%;
  width: 100%;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 25%;
}

.Black-Cell {
  background-color: rgba(0, 0, 0, 0.5);
}

.White-Cell {
  display: flex;
}

.Highlighted-Cell {
  background-color: rgba(10, 255, 255, 0.5);
}

.Divider {
  border-width: 10px;
  border-color: red;
  border-style: solid;
}

.Space {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Top-Player {
  filter: hue-rotate(145deg);
}
